.node > div > a::before {
  content: "";
  background-image: url("/svg/light/sidebar/nodes.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  vertical-align: middle;
}

.node > div > a {
  display: inline-flex !important;
  align-items: center;
}

[data-theme="dark"] .node > div > a::before {
  background-image: url("/svg/dark/sidebar/nodes.svg");
}
